#navegacion{
    text-align: center;
    margin: 10px;
}

#navegacion, button {
    border-radius: 5px;
}

#jabones-caja{
    margin: 0;
    text-align: center;
    width: 50%;
}

#portada {
    max-width: 100%;
}

.soap-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 110px;
    text-align: center;
    display: inline-block;
}

.soap-image {
    max-width: 100px;
    height: 75px;
}

