/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Styles */
#navegacion {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#navegacion button {
    border-radius: 5px;
    border: 1px solid black;
}

/* Soap Box Styles */
.soap-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 180px;
    height: 150px;
    text-align: center;
    display: inline-block;
}

.soap-image {
    max-width: 120px;
    height: 95px;
}

/* Soap Container Styles */
#jabones-caja {
    margin: 0;
    text-align: center;
    width: 50%;
}

/* Cover Styles */
#portada {
    max-width: 100%;
    width: 100%;
    /* Ensuring full width */
    height: auto;
    display: block;
    margin: 0 auto;
}

.portada-cont {
    position: relative;
}

/* Heading Styles */
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: solid black;
    text-shadow: white;
    text-align: center;
}

/* Button Styles */
button {
    border-radius: 5px;
    /* Applied to buttons separately */
}